<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">

                    <!-- TITULO -->
                    <div class="container" style="margin: 1%;">
                        <h3 class="text-center col-12">AGREGAR PRODUCTOS A LA ORDEN</h3>
                    </div>


                    <!-- Inicia seccion de alertas -->
                    <div class="alert alert-success collapse" role="alert" id="buttonAlert">
                        <strong>Success!</strong> Producto Agregado Correctamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Termina seccion de alertas -->

                    <!-- Inicio: Informacion  Orden-->
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label style="font-size: 12px; margin-left:10px;" for="lblOrden"
                                class="col-sm-0 col-form-label col-form-label-sm">Orden:</label>
                            <input style="font-size: 12px; width: 92px;margin-left: 5px;" type="text"
                                id="lblOrden" v-model="ordenSelected.id.substring(20,24)" readonly
                                class="form-control form-control-sm form-control-plaintext">
                        </div>
                        <div class="form-group mb-2">
                            <label style="font-size: 12px; margin-left:10px;" for="lblMesa"
                                class="col-sm-0 col-form-label col-form-label-sm">Mesa:</label>
                            <input style="font-size: 12px; width: 92px;margin-left: 5px;" type="text"
                                id="lblMesa" v-model="ordenSelected.mesa" readonly
                                class="form-control form-control-sm form-control-plaintext">
                        </div>
                        <div class="form-group mb-2">
                            <label style="font-size: 12px; margin-left:10px;" for="lblMesero"
                                class="col-sm-0 col-form-label col-form-label-sm">Mesero:</label>
                            <input style="font-size: 12px; width: 92px; margin-left: 5px;" type="text"
                                id="lblMesero" v-model="ordenSelected.mesero" readonly
                                class="form-control form-control-sm form-control-plaintext">
                        </div>
                        <div class="form-group mb-2">
                            <label style="font-size: 12px; margin-left:10px;" for="lblCliente"
                                class="col-sm-0 col-form-label col-form-label-sm">Cliente:</label>
                            <input style="font-size: 12px; width: 92px;margin-left: 5px;" type="text"
                                id="lblCliente" v-model="ordenSelected.cliente" readonly
                                class="form-control form-control-sm form-control-plaintext">
                        </div>
                    </form>
                    <hr/>
                    <!-- Fin: Informacion Orden-->

                    <h3 class="text-center">Menú</h3>
                    <!-- Inicio: Barra Navegacion -->
                    <div class="navbar navbar-light navbar-expand-md mb-4">
                        <div class="col-md-3">
                            <input class="form-control my-2" type="text" v-model="textoBusqueda" placeholder="Buscar producto">
                        </div>
                        <div class="sidebar-brand-text mx-3"><span>CATEGORIAS</span></div>
                        <div class="sidebar-brand-text">
                                <button type="button" class="btn btntable btn-sm"
                                        v-on:click.prevent="categoriaSelected=categoria.nombre;"
                                        v-for="categoria in categorias" v-on:click.prevent="categoriaSelected=categoria.nombre " v-bind:class="{ 'font-weight-bold': categoriaSelected==categoria.nombre,  
                                        'text-dark': categoriaSelected==categoria.nombre}" @Click="limpiarBusqueda();" style="width: 70px;">{{categoria.nombre}}
                                </button>
                        </div>
                    </div>
                    <!-- Fin: Barra Navegacion -->

                    <!-- Inicio: Tabla-->
                    <div
                        style="display: flex; justify-content: center; overflow-y:auto; height: 220px; margin: 0px 20px 20px 20px;">
                        <table class="table table-sm table-bordered mb-0 " style="width: 100%;">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th style="position: sticky; top: 0; background-color: rgb(78, 115, 223);"
                                        scope="col">Nombre</th>
                                    <th style="position: sticky; top: 0; background-color: rgb(78, 115, 223);"
                                        scope="col">Precio unitario</th>
                                    <th style="position: sticky; top: 0; background-color: rgb(78, 115, 223);"
                                        scope="col">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(producto, index) in productos"
                                    v-show="producto.categoria.nombre==categoriaSelected && buscarProductos(index)" 
                                    v-on:click.prevent="productoSelected = index;"
                                    v-bind:class="{ 'font-weight-bold' : productoSelected==index }">
                                    <td>{{producto.nombre}}</td>
                                    <td>${{producto.precio}}</td>
                                    <td v-for="cantidad in cantidades">
                                        <button type="button " class="btn btn-secondary btn-sm"
                                        v-on:click="productoSelected=index; quitarAdetalle(productoSelected); buscarCantidad(index)">-</button>
                                        <span>{{buscarCantidad(index)}}</span>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                        v-on:click="productoSelected=index; agregarAdetalle(productoSelected); buscarCantidad(index)">+</button></td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Fin: Tabla-->

                    <!-- Inicio: Botones Cancelar Siguiente-->
                    <div style="margin-right: 25px;" class="modal-footer">
                        <button type="button" class="btn btn-secondary" @Click="cancelar();">Cancelar</button>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onClick="$('#modalResumen').modal('show')" @click="calcularTotal();">Siguiente</button>
                    </div>
                    <!-- Fin: Botones Cancelar Siguiente-->

                    <!-- Inicio: Modal Resumen -->
                    <div class="modal fade" id="modalResumen" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                            <div class="modal-content">

                                <!-- Inicio: Cabecera Modal Resumen-->
                                <div class="modal-header">
                                    <div class="sidebar-brand-text mx-3"><span>RESUMEN DE PRODUCTOS AGREGADOS</span></div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!-- Fin: Cabecera Modal Resumen-->

                                <!-- Inicio: Informacion  Orden-->
                                <form class="form-inline">
                                    <div class="form-group mb-2">
                                        <label style="font-size: 12px; margin-left:10px;" for="lblOrden1"
                                            class="col-sm-0 col-form-label col-form-label-sm">Orden:</label>
                                        <input style="font-size: 12px; width: 100px;margin-left: 5px;" type="text"
                                            id="lblOrden1" v-model="ordenSelected.id.substring(20,24)" readonly
                                            class="form-control form-control-sm form-control-plaintext">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label style="font-size: 12px; margin-left:10px;" for="lblMesa1"
                                            class="col-sm-0 col-form-label col-form-label-sm">Mesa:</label>
                                        <input style="font-size: 12px; width: 100px;margin-left: 5px;" type="text"
                                            id="lblMesa1" v-model="ordenSelected.mesa" readonly
                                            class="form-control form-control-sm form-control-plaintext">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label style="font-size: 12px; margin-left:10px;" for="lblMesero1"
                                            class="col-sm-0 col-form-label col-form-label-sm">Mesero:</label>
                                        <input style="font-size: 12px; width: 100px; margin-left: 5px;" type="text"
                                            id="lblMesero1" v-model="ordenSelected.mesero" readonly
                                            class="form-control form-control-sm form-control-plaintext">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label style="font-size: 12px; margin-left:10px;" for="lblCliente1"
                                            class="col-sm-0 col-form-label col-form-label-sm">Cliente:</label>
                                        <input style="font-size: 12px; width: 100px;margin-left: 5px;" type="text"
                                            id="lblCliente1" v-model="ordenSelected.cliente" readonly
                                            class="form-control form-control-sm form-control-plaintext">
                                    </div>
                                    <hr/>
                                </form>
                                <!-- Fin: Informacion Orden-->


                                <!-- Inicio: Tabla Modal Resumen-->
                                <div class="modal-body">
                                    <div style="display: flex; justify-content: center; overflow-y:auto; height: 255px; margin: 0px 20px 20px 20px;">
                                        <table class="table table-sm table-bordered table-striped mb-0 "
                                            style="width: 100%;">
                                            <thead class="bg-primary text-white">
                                                <tr>
                                                    <th style="position: sticky; top: 0; background-color: rgb(78, 115, 223);"
                                                        scope="col">Nombre</th>
                                                    <th style="position: sticky; top: 0; background-color: rgb(78, 115, 223);"
                                                        scope="col">Precio unitario
                                                    </th>
                                                    <th style="position: sticky; top: 0; background-color: rgb(78, 115, 223);"
                                                        scope="col">Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="detalle in ordenSelected.detalleOrden">
                                                    <td>{{detalle.nombre}}</td>
                                                    <td>${{detalle.precio}}</td>
                                                    <td>{{detalle.cantidad}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="sidebar-brand-text mx-3" v-if="ordenSelected.detalleOrden.length==0">
                                        <span style="font-weight: bold;">Nota: Ningún Producto Fue Agregado a la Orden, Su orden será guardada pero no se eliminara</span>
                                    </div>
                                </div>
                                <!-- Fin: Tabla Modal Resumen-->

                                <!-- Inicio: Botones Modal Resumen-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary"
                                        @Click="agregarProductosOrden();">Guardar</button>

                                </div>
                                <!-- Inicio: Botones Modal Resumen-->
                            </div>
                        </div>
                    </div>
                    <!-- Fin: Modal Resumen -->

                </div>


                <!--Solo para depuracion y desarrollo mostramos el vue.Data-->
                <!--Despues borramos esto-
                    <br>
                    <h5>Solo para mostrar vue.Data mientras se desarrolla</h5>
                    -->
            </div>
            <!-- Termina el contenedor de la pagina y el dominio de VUE-->
        </div>



    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <!--se ha cargado vue-router para la lectura del parametro, si usas javascript puro en su lugar, quita esta libreria-->
    <script src="assets/js/vue-router.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <!--Aqui va tu codigo de vue js-->
    <script src="./addmasproductos.js"></script>


</body>

</html>