<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="page-top">
    <div id="wrapper">

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">

                    <!-- TITULO -->
                    <div class="row my-4">
                        <h1 class="text-center col-12">Cobrar Orden</h1>
                    </div>


                    <!-- Inicia seccion de alertas -->
                    <div class="alert alert-success collapse" role="alert" id="buttonAlert">
                        <strong>Success!</strong> Registro eliminado correctamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Termina seccion de alertas -->

                    <!--Solo para depuracion y desarrollo mostramos el vue.Data-->

                    <!--Despues borramos esto-
                    <br>
                    <h5>Solo para mostrar vue.Data mientras se desarrolla</h5>
                    -->

                    <!--cobrar orden -->
                    <div class="" id="mdlCobrarOrden" tabindex="-1" role="dialog" aria-labelledby="titleCobrar" aria-hidden="true">
                        <div class="border border-info" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="titleCobrar">Cobrar Orden: {{ordenSelected.id}}</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <span class="badge badge-pill badge-primary " style=" margin: 5px;"><h5 class="modal-title" id="mesero">Mesa: {{ordenSelected.mesa}}</h5></span>
                                        <span class="badge badge-pill badge-primary " style=" margin: 5px;"><h5 class="modal-title" id="mesero">Mesero: {{ordenSelected.mesero}}</h5></span>
                                        <span class="badge badge-pill badge-primary " style=" margin: 5px;"><h5 class="modal-title" id="cliente">Cliente: {{ordenSelected.cliente}}</h5></span>
                                        <span class="badge badge-pill badge-primary " style=" margin: 5px;"><h5 class="modal-title" id="fecha"></h5></span>
                                        </br>

                                        <!--tabla para desktop-->
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar d-none d-lg-block">
                                            <table class="table table-sm mb-0">
                                                <thead class="bg-primary text-white" style="position: sticky;">
                                                    <tr>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="detalleOrdenAux in ordenSelected.detalleOrden">
                                                        <td class="small">{{detalleOrdenAux.nombre}}</td>
                                                        <td>{{detalleOrdenAux.categoria.nombre}}</td>
                                                        <td>{{detalleOrdenAux.cantidad}}</td>
                                                        <td>$ {{detalleOrdenAux.precio}}</td>
                                                        <td>$ {{detalleOrdenAux.subtotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--fin de la tabla-->

                                        <!--tabla para tablet y smartphone-->
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar d-sm-block d-lg-none">
                                            <table class="table table-sm mb-0">
                                                <thead class="bg-primary text-white" style="position: sticky;">
                                                    <tr>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="detalleOrdenAux in ordenSelected.detalleOrden">
                                                        <td class="small">{{detalleOrdenAux.nombre}}</td>
                                                        <td>{{detalleOrdenAux.categoria.nombre}}</td>
                                                        <td>{{detalleOrdenAux.cantidad}}</td>
                                                        <td>$ {{detalleOrdenAux.precio}}</td>
                                                        <td>$ {{detalleOrdenAux.subtotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--fin de la tabla-->


                                        <label for="lblEfectivo" class="col-form-label" style="color: black;">Ingrese el efectivo: </label>
                                        <div class="col-sm-3 mr-md-5 col-lg-3">
                                            <input type="number" class="form-control" id="lblEfectivo" required/>
                                        </div>
                                        <label id="alerta" class="col-form-label" style="color: red;"></label>
                                    </div>
                                </div>
                                <div class="modal-footer col-md-5">
                                    <div class="container "><span class="badge" style="background-color: #5CB32B;"><h3 class="font-weight-bold" style="color: black;" id="total"></h3></span></div>
                                    <button type="button " class="btn btn-secondary" @click="redireccionarAOrdenes();">Cancelar</button>
                                    <button type="button " class="btn btn-primary" @click="cobrar();">Cobrar</button>
                                </div>
                            </div>
                        </div>
                        </br>
                    </div>
                    <!-- Termina cobrar orden -->

                </div>
                <!-- Termina el contenedor de la pagina y el dominio de VUE-->

            </div>



        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <!--se ha cargado vue-router para la lectura del parametro, si usas javascript puro en su lugar, quita esta libreria-->
    <script src="assets/js/vue-router.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <!--Aqui va tu codigo de vue js-->
    <script src="config.js"></script>
    <script src="./cobrarorden.js"></script>


</body>

</html>