<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }

        input[type=number] { -moz-appearance:textfield; }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Inicia navbar lateral -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-glass-martini"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="index.html"><i class="fas fa-list-ol"></i><span>ORDENES</span></a>
                        <a class="nav-link active" href="productos.html"><i class="fas fa-box"></i><span>PRODUCTOS</span></a>
                        <a class="nav-link active" href="categorias.html"><i class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                        <a class="nav-link active" href="informes.html"><i class="fas fa-file-alt"></i><span>INFORMES</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <!-- Termina navbar lateral -->

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
               

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">


                    <!-- TITULO -->
                    <div class="row my-4">
                        <h1 class="text-center col-12">Nueva Orden</h1>
                    </div>


                    <!-- Inicia seccion de alertas -->
                    <div class="alert alert-success collapse" role="alert" id="buttonAlert">
                        <strong>Success!</strong> Acabas de mostrar una alerta.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Termina seccion de alertas -->
                    <div class="col-md-8" id= "content">

                        <!--col tabla productos-->
                        <div class="col-md-8">
                        <!-- Incia Tabla -->
                        <div class="form-group">
                            <div class="table-wrapper-scroll-y" style="height:15em ;overflow: auto;">
                                <table class="table table-sm table-bordered table-striped mt-2 ">
                                    <thead class="text-center ">
                                        <tr>
                                            <th scope="col ">Nombre</th>
                                            <th scope="col ">Precio</th>
                                            <th scope="col ">Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="detalleProducto in nuevaOrden.detalleOrden">
                                            <td>
                                                {{detalleProducto.nombre}}
                                            </td>
                                            <td>
                                                ${{detalleProducto.precio}}
                                            </td>
                                            <td class="text-center px-0 ">
                                                {{detalleProducto.cantidad}}
                                            </td>
                   <div class="table-wrapper-scroll-y" style="height:15em ;overflow: auto;">
                                <table class="table table-sm table-bordered table-striped mt-2 ">
                                    <thead class="text-center ">
                                        <tr>
                                            <th scope="col ">Total</th>
                                            <th scope="col ">$</th>    
                                             </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="detalleProducto in nuevaOrden.detalleOrden">
                                            <td>
                                                <h2>Toltal a Pagar</h2>
                                            </td>
                                            <td>
                                                ${{detalleProducto.Total}}
                                             </td>
                                        </tr>
                                    </tbody>
                                       <div class="form-group row">
                        <div class="col">
                            <button type="button" class="btn btn-secondary col">
                                <a class="text-white" href="nuevaorden.html" >Atras</a>
                            </button>
                            <button type="button" class="btn btn-secondary col">
                                <a class="text-white" href="ordenes.html" >Crear Orden</a>
                            </button>
                        </div>
                                </table>
                            </div>     
                                    <!-- Inicia el pie de pagina -->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Diseño I 2020</span></div>
                </div>
            </footer>
            <!-- Termina el pie de pagina -->

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <!--Aqui va tu codigo de vue js-->
    <script src="nuevaorden.js"></script>


</body>

</html>    