<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>RESBAR - INFORMES</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/googlefonts.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="assets/css/informes.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Inicia navbar lateral -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-glass-martini"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                </a>
                <hr class="sidebar-divider my-0" />
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="ordenes.html"><i
                                class="fas fa-list-ol"></i><span>ORDENES</span></a>
                        <a class="nav-link active" href="productos.html"><i
                                class="fas fa-box"></i><span>PRODUCTOS</span></a>
                        <a class="nav-link active" href="categorias.html"><i
                                class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                        <a class="nav-link active" href="informes.html">
                            <i class="fas fa-file-alt"></i><span>INFORMES</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <!-- Termina navbar lateral -->

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- Inicia navbar top -->
                <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" style="box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);margin-bottom: 10px;" role="navigation">
                    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" style="
                    color: #585858;
                " href="#">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fas fa-glass-martini"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                    </a>

                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse" style="position: relative;padding: 9px 10px;background-color: transparent;background-image: none;border: 1px solid transparent;border-radius: 4px;border-color: #ddd;"
                            aria-expanded="false">
                            <span style="color: #585858;"><i class="fas fa-bars"></i></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse navbar-ex1-collapse collapse">
                        <ul class="nav navbar-nav text-light" id="accordionSidebar">
                            <li class="nav-item" role="presentation">
                                <a class="topNavLink active" href="ordenes.html"><i
                                        class="fas fa-list-ol"></i><span>ORDENES</span></a>
                                <a class="topNavLink active" href="productos.html"><i
                                        class="fas fa-box"></i><span>PRODUCTOS</span></a>
                                <a class="topNavLink active" href="categorias.html"><i
                                        class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                                <a class="topNavLink active" href="informes.html" style="background-color: #585858;color: white;"><i
                                        class="fas fa-file-alt"></i><span>INFORMES</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- Termina navbar top -->

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)---------------------------------------------------------------------->
                <label class="leyendas" style="margin-top: 20px;">Reportes</label>
                <div class="container-fluid" id="appRESBAR">
                    <!-- Este es el div que se muestra si el rango de fecha es incorrecto-->
                    <div id="modalError" class="alert alert-danger alert-dismissible fade show" role="alert">
                        El rango de fecha es incorrecto.
                    </div>
                    <!-- Fin del div que se muestra si el rango de fecha es incorrecto-->

                    <div class="div-encapsula-dates">
                        <div class="espacio-divs">
                            Desde:
                            <div class="div-date animated bounceIn">
                                <input type="date" id="start" class="date-css" v-model="desde"><br>
                            </div>
                        </div>
                        <div class="espacio-divs">
                            Hasta:
                            <div class="div-date animated bounceIn delay1">
                                <input type="date" id="end" class="date-css" v-model="hasta"><br>
                            </div>
                        </div>
                        <button class="btn-hover color-9" @click="getFourDivsData()">ACEPTAR</button>
                    </div>

                    <!-- Fin del input del datepicker -->
                    <!-- Inicio del top informes 4 divs -->
                    <div id="cuatro-divs" class="mobilScreen">
                        <!-- Primer div -->
                        <div id="primerDiv" style="display: none;" class="border rounded contenedor-trabajos espacio-margen animated bounceIn">
                            <label class="d-flex justify-content-center text-centro">Ordenes eliminadas</label><i class="fa fa-window-close d-flex justify-content-center" style="width: 100%;font-size: x-large;color: #585858;"></i><label class="d-flex justify-content-center text-centro text-bold">{{ordenesEliminadas}}</label>
                            <label class="d-flex justify-content-center subtitulo">Ordenes</label><a class="d-flex justify-content-center text-centro" style="text-decoration: underline;" data-toggle="modal" href="#exampleModalCenter" id="productosRef">Ver todos</a>
                        </div>
                        <!-- Fin del primer div -->
                        <!-- Segundo div -->
                        <div id="segundoDiv" class="border rounded contenedor-trabajos espacio-margen animated bounceIn delay1">
                            <label class="d-flex justify-content-center text-centro">Ordenes finalizadas</label><i class="fa fa-check-square d-flex justify-content-center iconos"></i><label class="d-flex justify-content-center text-centro text-bold">{{numOrdenesFin}}</label>
                            <label class="d-flex justify-content-center subtitulo">Ordenes</label>
                            <a class="d-flex justify-content-center text-centro" href="#ordenesFinalizadas" data-toggle="modal" style="text-decoration: underline;">Ver todos</a>
                        </div>
                        <!-- Fin del segundo div -->
                        <!-- Tercer div -->
                        <div id="tercerDiv" class="border rounded contenedor-trabajos espacio-margen animated bounceIn delay2">
                            <label class="d-flex justify-content-center text-centro">Mas vendido</label><i class="fa fa-coffee d-flex justify-content-center iconos"></i><label class="d-flex justify-content-center text-centro text-bold">{{platoMasVendido}}</label>
                            <label class="d-flex justify-content-center subtitulo">{{pmvCantidad}} veces vendida</label>
                            <a class="d-flex justify-content-center" href="#modalProductos" data-toggle="modal" style="width: 100%;text-decoration: underline;">Ver todos</a>
                        </div>
                        <!-- Fin del tercer div -->
                        <!-- Cuarto div -->
                        <div id="cuartoDiv" class="border rounded contenedor-trabajos espacio-margen animated bounceIn delay3">
                            <label class="d-flex justify-content-center text-centro">Ordenes Activas</label><i class="fa fa-gears d-flex justify-content-center iconos"></i><label class="d-flex justify-content-center text-centro text-bold">{{ordenesActivas}}</label>
                            <label class="d-flex justify-content-center subtitulo">Ordenes</label>
                            <a class="d-flex justify-content-center text-centro" href="ordenes.html" style="text-decoration: underline;">Ver todos</a>
                        </div>
                        <!-- Fin del cuarto div -->
                    </div>
                    <!-- Fin del top informes 4 divs -->

                    <!-- Inicia el contenedor de el chart y los mejores meseros -->
                    <label class="leyendas">Estadísticas de ventas</label>
                    <div class="chartEmp animated bounceIn">
                        <!-- Aquí comienza el cuadro para seleccionar la fecha -->

                        <!-- Aquí termina el cuadro para seleccionar la fecha -->
                        <div id="idPalChar" class="chartCss">
                            <!-- Inicia el nav del chart -->
                            <div style="width: 100%; text-align: center;">
                                <nav class="tabs-inf">
                                    <div class="selector-inf"></div>
                                    <a href="#" id="reference" ref="anioRef" class="active a-inf" @click="selectRange=0;fillData(selectRange)"><i
                                            class="fas fa-calendar"></i></i>Mes</a>
                                    <a href="#" ref="semanaId" class="a-inf" @click="selectRange=1;fillData(selectRange)"><i
                                            class="fas fa-calendar-week"></i></i>Semana</a>
                                    <a href="#" ref="diaId" class="a-inf" @click="selectRange=2;fillData(selectRange)"><i
                                            class="fas fa-calendar-day"></i>Día</a>
                                    <a href="#" ref="horaId" class="a-inf" @click="selectRange=3;fillData(selectRange)"><i
                                            class="fas fa-clock"></i></i>Hora</a>
                                </nav>
                            </div>
                            <!-- Fin del nav del chart -->

                            <!-- Selector de fecha con popover mostrando los datos dependiendo del valor requerido -->
                            <div style="text-align: center;">
                                <div class="datePick selectedDate">
                                    <input type="text" readonly id="anioDate" class="yearpicker styleInput" :value="anioPicker" />
                                </div>
                                <div class="datePick" id="semanal" v-bind:class="{ selectedDate: semanal}">
                                    <input type="text" readonly id="mesDate" tabindex="0" ref="mesesito" class="styleInput" v-b-popover.click="popoverConfig" :value="mesPicked.mes"></input>
                                </div>
                                <div class="datePick" id="diario" v-bind:class="{ selectedDate: diario}">
                                    <input type="text" readonly id="diaDate" tabindex="0" ref="diaDate" class="styleInput" v-b-popover.click="popiverDia" v-bind:value="semanaNum.nombre"></input>
                                </div class="datePick" id="horario">
                                <div class="datePick" id="diario" v-bind:class="{ selectedDate: hora}">
                                    <input type="text" readonly id="horaDate" tabindex="0" ref="horaDate" class="styleInput" v-b-popover.click="popoverHora" v-bind:value="horaNombre"></input>
                                </div class="datePick" id="horario">
                            </div>


                            <!-- Este es el componente vue que muestra el informe -->
                            <reactive :chart-data="datacollection" ref="chart"></reactive>
                            <!-- Fin del componente vue que muestra el informe -->

                        </div>
                        <!-- Finaliza el contenedor de el chart y los mejores meseros -->


                    </div>
                    <!-- Inicio de los mejores meseros -->
                    <div class="bestEmployeess" style="margin-left: 10px;">
                        <label class="leyendas" style="margin-left: 0px;">Mejores meseros</label>

                        <div id="empWarning" class="alert alert-danger alert-dismissible fade show" role="alert">
                            El rango de fecha es incorrecto.
                        </div>
                        <!-- Fin del div que se muestra si el rango de fecha es incorrecto-->

                        <div class="div-encapsula-dates">
                            <div class="espacio-divs">
                                Desde:
                                <div class="div-date animated bounceIn" id="divStartEmp">
                                    <input type="date" id="startEmp" class="date-css" v-model="empDesde"><br>
                                </div>
                            </div>
                            <div class="espacio-divs">
                                Hasta:
                                <div class="div-date animated bounceIn delay1" id="divEndEmp">
                                    <input type="date" id="endEmp" class="date-css" v-model="empHasta"><br>
                                </div>
                            </div>
                            <button class="btn-hover color-9" @click="mejoresMeseros()" style="background-image: linear-gradient(to right, #4766c7, #4481eb, #d339ff, #3f86ed);">ACEPTAR</button>
                        </div>


                        <!-- Bloque 1 de best empleados  -->
                        <div class="border rounded animated bounceIn" style="background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.53); margin-top: 1rem;">
                            <div style="border-radius: 10px 10px 0px 0px;background-color: #4e73df;">
                                <label class="d-flex empName">Más ordenes despachadas</label>
                            </div>
                            <div id="despacho" style="padding: 1rem;display: flex;justify-content: space-between;">
                                <div id="textoEmp" style="text-align: left; display: inline-block; height: inherit;">
                                    <label class="d-flex reziseText" style="color: rgb(0, 0, 0);">{{meseroOrdenes[0]._id}}</label>
                                </div>
                                <div id="descEmp" style="text-align: center; display: inline-block;">
                                    <label class="d-flex justify-content-center text-centro reziseText" style="color: rgb(0, 0, 0);">
                                        Ordenes: {{meseroOrdenes[0].Total}}</label>
                                </div>
                                <div class="tresPuntos" style="height: inherit; align-self: center;"><i class="fas fa-ellipsis-v" style="color: rgb(0, 0, 0);height: max-content;"></i></div>
                            </div>
                        </div>
                        <!-- Fin del Bloque 1 de best empleados  -->

                        <!-- Bloque 2 de best empleados  -->
                        <div class="border rounded animated bounceIn" style="background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.53); margin-top: 1rem;">
                            <div style="border-radius: 10px 10px 0px 0px;background-color: #4e73df;">
                                <label class="d-flex empName">Promedio de ordenes</label>
                            </div>
                            <div id="despacho" style="padding: 1rem;display: flex;justify-content: space-between;">
                                <div id="textoEmp" style="text-align: left; display: inline-block; height: inherit;">
                                    <label class="d-flex reziseText" style="color: rgb(0, 0, 0);text-align: center;">Prom: ${{ordenesProm[0].Promedio.toFixed(2)}}</label>
                                </div>
                                <div id="descEmp" style="text-align: center; display: inline-block;">
                                    <label class="d-flex justify-content-center text-centro reziseText" style="color: rgb(0, 0, 0);text-align: center;">
                                        Ordenes: {{ordenesProm[0].Count}}</label>
                                </div>
                                <div id="textoEmp" style="text-align: left; display: inline-block; height: inherit;">
                                    <label class="d-flex reziseText" style="color: rgb(0, 0, 0);text-align: center;">Min: ${{ordenesProm[0].Minimo.toFixed(2)}}</label>
                                </div>
                                <div id="textoEmp" style="text-align: left; display: inline-block; height: inherit;">
                                    <label class="d-flex reziseText" style="color: rgb(0, 0, 0);text-align: center;">Max: ${{ordenesProm[0].Maximo.toFixed(2)}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="border rounded animated bounceIn" style="background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.53); margin-top: 1rem;">
                            <div style="border-radius: 10px 10px 0px 0px;background-color: #4e73df;">
                                <label class="d-flex empName">Informes detallados:</label>
                            </div>
                            <div id="enlace" style="padding: 1rem;display: flex;justify-content: space-between;">
                                <br><br>
                                <button class="d-flex reziseText btn-outline-primary" style="color: rgb(0, 0, 0);text-align: left;" onclick="window.location.href='informemes.html';">
                                    Detalle de ventas del mes.
                                </button>
                                <button class="d-flex reziseText btn-outline-primary" style="color: rgb(0, 0, 0);text-align: left;" onclick="window.location.href='informeproductos.html';">
                                    Detalle de productos del mes.
                                </button>
                            </div>

                        </div>

                        <!-- Fin del Bloque 2 de best empleados  -->
                        <!-- Bloque 3 de best empleados  -->
                        <div class="border rounded animated bounceIn delay2" style="background-color: #4e4e4e;margin-top: 10px; display: none;">
                            <div id="despacho">
                                <div id="textoEmp" style="margin-left: 2rem; width: 30%; text-align: left; display: inline-block; margin-top: 0.5em;">
                                    <label class="d-flex reziseText">{{menosFaltas}}</label>
                                    <label class="d-flex empName">Menos faltas a trabajar</label>
                                </div>
                                <div id="descEmp" style="width: 50%; text-align: center; display: inline-block;">
                                    <label class="d-flex justify-content-center text-centro reziseText">Número de
                    faltas:</label>
                                    <label class="d-flex justify-content-center text-centro empName">{{numeroFaltas}}</label>
                                </div>
                                <div class="tresPuntos">
                                    <i class="fas fa-ellipsis-v empName"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Fin del Bloque 3 de best empleados  -->

                        <!-- Bloque 4 de best empleados  -->
                        <div class="border rounded animated bounceIn delay3" style="background-color: #4e4e4e;margin-top: 10px; display: none;">
                            <div id="despacho">
                                <div id="textoEmp" style="margin-left: 2rem; width: 30%; text-align: left; display: inline-block; margin-top: 0.5em;">
                                    <label class="d-flex reziseText">{{masPuntual}}</label>
                                    <label class="d-flex empName">Mas puntual</label>
                                </div>
                                <div id="descEmp" style="width: 50%; text-align: center; display: inline-block;">
                                    <label class="d-flex justify-content-center text-centro reziseText">Venidas
                    tarde:</label>
                                    <label class="d-flex justify-content-center text-centro empName">{{venidasTarde}}</label>
                                </div>
                                <div class="tresPuntos">
                                    <i class="fas fa-ellipsis-v empName"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Fin del Bloque 4 de best empleados  -->

                    </div>
                    <!-- Fin de los mejores meseros -->
                    <!-- --------------------Modales----------------- -->

                    <!-- ================== Modal: Ordenes eliminadas ================= -->
                    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Ordenes eliminadas</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- table responsive -->
                                    <div class="container">
                                        <h2>Ordenes eliminadas por semana</h2>
                                        <ul class="responsive-table">
                                            <li class="table-header">
                                                <div class="col col-1">Semana #</div>
                                                <div class="col col-2">Producto</div>
                                                <div class="col col-3">Valor</div>
                                                <div class="col col-4">Motivos</div>
                                            </li>
                                            <li class="table-row">
                                                <div class="col col-1" data-label="Semana #">1</div>
                                                <div class="col col-2" data-label="Producto">12</div>
                                                <div class="col col-3" data-label="Valor">$350</div>
                                                <div class="col col-4" data-label="Motivos">El cliente se retiró</div>
                                            </li>
                                            <li class="table-row">
                                                <div class="col col-1" data-label="Semana #">2</div>
                                                <div class="col col-2" data-label="Producto">8</div>
                                                <div class="col col-3" data-label="Valor">$220</div>
                                                <div class="col col-4" data-label="Motivos">No andaba dinero</div>
                                            </li>
                                            <li class="table-row">
                                                <div class="col col-1" data-label="Semana #">3</div>
                                                <div class="col col-2" data-label="Producto">20</div>
                                                <div class="col col-3" data-label="Valor">$341</div>
                                                <div class="col col-4" data-label="Motivos">Mucho esperó</div>
                                            </li>
                                            <li class="table-row">
                                                <div class="col col-1" data-label="Semana #">4</div>
                                                <div class="col col-2" data-label="Producto">3</div>
                                                <div class="col col-3" data-label="Valor">$115</div>
                                                <div class="col col-4" data-label="Motivos">Otros</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- fin de table responsive -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ================== Fin del Modal: Ordenes eliminadas ================= -->


                    <!-- ================== Modal: Ordenes Finalizadas ================= -->

                    <div class="modal fade " id="ordenesFinalizadas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Ordenes Finalizadas</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- table responsive -->
                                    <div class="container">
                                        <h2 style="text-align: center;">Desde {{desde}} hasta&nbsp;{{hasta}}</h2>
                                        <ul class="responsive-table">
                                            <li class="table-header">
                                                <div class="col col-1">ID</div>
                                                <div class="col col-2">Día</div>
                                                <div class="col col-3">Valor</div>
                                            </li>
                                            <li class="table-row" v-for="(orden, index) in ordenesCerradas">
                                                <div class="col col-1" data-label="ID">
                                                    <a @click="getOrdenSelected(orden.id)" style="text-decoration: underline;font-size: 20px;color: #4e73df;">{{index+1}}</a>
                                                </div>
                                                <div class="col col-2" style="min-width: fit-content;" data-label="Día">
                                                    <pre style="color: #858796;font-size: 17px;">{{this.moment(orden.fecha).format('DD-MM-YYYY')}}</pre>
                                                </div>
                                                <div class="col col-3" data-label="Valor">${{orden.total}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- fin de table responsive -->
                                    <div style="text-align: center;">Total: ${{totalModalOrdenes.toFixed(2)}}</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ================== Fin del Modal: Ordenes Finalizadas ================= -->

                    <!-- ================== Modal: Productos ================= -->

                    <div class="modal fade " id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Productos más vendidos</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- table responsive -->
                                    <div class="container">
                                        <h2 style="text-align: center;">Desde {{desde}} hasta&nbsp;{{hasta}}</h2>
                                        <ul class="responsive-table">
                                            <li class="table-header">
                                                <div class="col col-1">Número</div>
                                                <div class="col col-2">Producto</div>
                                                <div class="col col-3">Cantidad Vendida</div>
                                            </li>
                                            <li class="table-row" v-for="(producto, index) in topProductos">
                                                <div class="col col-1" data-label="Número">{{index+1}}</div>
                                                <div class="col col-2" data-label="Producto">{{producto.nombre}}</div>
                                                <div class="col col-3" data-label="Cantidad">{{producto.cantidad}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- fin de table responsive -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ================== Fin del Modal: Productos ================= -->


                    <!-- -------------------- Fin de Modales----------------- -->



                </div>
                <!-- Termina el contenedor de la pagina y el dominio de VUE--------------------------------------------------------------------->
            </div>

            <!-- Inicia el pie de pagina -->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © Diseño I 2020</span>
                    </div>
                </div>
            </footer>
            <!-- Termina el pie de pagina -->
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <script src="config.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <!--Aqui va tu codigo de vue js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.11/dist/bootstrap-vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="informes-vue.js"></script>
    <script src="informes.js"></script>

</body>

</html>