<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        .inp-cantidad {
            width: 3em;
            margin: 0;
            border: none;
            text-align: center;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Inicia navbar lateral -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-glass-martini"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="ordenes.html"><i
                                class="fas fa-list-ol"></i><span>ORDENES</span></a>
                        <a class="nav-link active" href="productos.html"><i
                                class="fas fa-box"></i><span>PRODUCTOS</span></a>
                        <a class="nav-link active" href="categorias.html"><i
                                class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                        <a class="nav-link active" href="informes.html"><i
                                class="fas fa-file-alt"></i><span>INFORMES</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <!-- Termina navbar lateral -->

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">


                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">


                    <!-- TITULO -->
                    <div class="row my-4">
                        <h3 class="text-center col-12">Crear Nueva Orden</h3>
                    </div>


                    <!-- Inicia seccion de alertas -->
                    <div v-if="mensajeApi != null" class="alert alert-info" role="alert" id="buttonAlert">
                        {{mensajeApi}}
                    </div>
                    <!-- Termina seccion de alertas -->

                    <!-- Formulario de nueva orden -->
                    <form class="needs-validation" novalidate>
                        <div class="row">

                            <!--col tabla agregar productos-->
                            <div class="col-md-8 col order-md-6">
                                <div class="form-group">
                                    <!-- tab por cada categoria-->
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <!-- Se evalua  si la categoria es la primera en la lista, si es asi el tab se marca como activo-->
                                        <li v-for="categoria in categorias" class="nav-item">
                                            <a class="nav-link" :class="{ active:categorias.indexOf(categoria) === 0 }"
                                                data-toggle="tab" v-bind:id="categoria.nombre+'-tab'"
                                                v-bind:href="'#'+categoria.nombre" role="tab">
                                                {{categoria.nombre}}
                                            </a>
                                        </li>
                                    </ul>

                                    <!-- Incia div.tab-content de productos a agregar-->
                                    <div class="tab-content" id="myTabContent">
                                        <!-- crea un div de con clases active,show si la categoria es la primera, la referencia del div activo es por id-->
                                        <div :class="[ categorias.indexOf(categoria) === 0? ['active','show']:'','tab-pane','fade']"
                                            v-bind:id="categoria.nombre" v-for="categoria in categorias"
                                            role="tabpanel">
                                            <table class="table table-sm table-bordered table-striped mt-2 ">
                                                <thead class="text-center ">
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th style="width: 50px">Precio</th>
                                                        <th style="width: 100px">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Se renderiza unicamente la fila si el nombre en la propiedad categoria del producto activo es igual a la categoria activa -->
                                                    <tr v-if='producto.categoria.nombre == categoria.nombre '
                                                        v-for="producto in productos">
                                                        <td>
                                                            {{producto.nombre}}
                                                        </td>
                                                        <td>
                                                            ${{producto.precio}}
                                                        </td>
                                                        <td class="text-center px-0 ">
                                                            <!-- se ha hecho bind entre el input y la cantidad dentro de detalle producto-->
                                                            <button type="button" class="btn btn-secondary btn-sm p-1"
                                                                @click="decProducto(producto)">-</button>
                                                            <input type="number" class="inp-cantidad input-sm"
                                                                v-model.lazy.number="producto.cantidad" min="0" max="99"
                                                                step="1" disabled>
                                                            <button type="button" class="btn btn-primary btn-sm p-1"
                                                                @click="incProducto(producto)">+</button>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Termina div.tab-content de productos a agregar -->


                                </div>

                            </div>

                            <!--col datos de orden-->
                            <div class="col-md-4 pr-0 order-md-1">
                                <div class="form-group row">
                                    <div class="col-md-3 col-2 px-0 py-1">
                                        <label for="txtCliente">Cliente: </label>
                                    </div>
                                    <div class="col">
                                        <input v-model="nuevaOrden.cliente" pattern="[A-Za-z]+[A-Za-z .]{2,}"
                                            type="text" class="form-control" id="txtCliente" placeholder="Enter name">
                                        <div class="invalid-feedback">
                                            Ingrese un nombre valido mayor a 3 caracteres
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 col-2 px-0 py-1">
                                        <label for="txtMesero">Mesero: </label>
                                    </div>
                                    <div class="col">
                                        <input v-model.lazy.number="nuevaOrden.mesero" pattern="[A-Za-z]+[A-Za-z .]{2,}"
                                            type="text" class="form-control" id="txtMesero" placeholder="Enter name"
                                            required>
                                        <div class="invalid-feedback">
                                            Ingrese un nombre valido mayor a 3 caracteres
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 col-2 px-0 py-1">
                                        <label for="txtMesa">Mesa: </label>
                                    </div>
                                    <div class="col">
                                        <input v-model="nuevaOrden.mesa" type="number" min="1" pattern="^[0-9]+"
                                            class="form-control" id="txtMesa" placeholder="#" required>
                                        <div class="invalid-feedback">
                                            Ingrese un valor numerico entero
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <textarea v-model="nuevaOrden.observacion" type="text" class="form-control"
                                            id="txtObservacion" placeholder="Observacion" rows="3"
                                            style="resize: none;"></textarea>
                                    </div>
                                </div>
                                <!-- Botones de accion para el formulario-->
                                <div class="form-group row">
                                    <div class="col">
                                        <button type="button" class="btn btn-secondary col"
                                            @click='redireccionarAOrdenes' data-target="#resumenModal">
                                            Cancelar
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary col" type="button" @click="validateForm()">
                                            Verificar</button>
                                    </div>
                                </div>
                                <!-- /Botones de accion-->
                            </div>

                        </div>

                    </form>
                    <!--Termina formulario nueva orden-->

                    <div class="modal fade bd-example-modal-xl" id="resumenModal" data-backdrop="static" tabindex="-1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header text-light bg-primary p-3">
                                    <h5 class="modal-title " id="staticBackdropLabel">Resumen</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row">

                                        <div class="col-md-12 col-lg-7 ">
                                            <div class="table-wrapper-scroll-y " style="height:230px ;overflow: auto;">
                                                <table class="table  table-striped table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Descripcion</th>
                                                            <th scope="col">Precio unitario</th>
                                                            <th scope="col">Sub Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="detalle of nuevaOrden.detalleOrden">
                                                            <th scope="row">{{ detalle.cantidad }}</th>
                                                            <td>{{ detalle.nombre }}</td>
                                                            <td>${{ detalle.precio }}</td>
                                                            <td>${{ detalle.subtotal }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" align="right">Total: </td>
                                                            <td>$ {{nuevaOrden.total}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-5 text-right font-weight-bold">
                                            <div class="form-group row">
                                                <label for="staticClient" class="col-3 col-form-label">Cliente:</label>
                                                <div class="col-9">
                                                    <input type="text" readonly class="form-control-plaintext"
                                                        id="staticClient" v-model="nuevaOrden.cliente">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="staticWaiter" class="col-3 col-form-label">Mesero:</label>
                                                <div class="col-9">
                                                    <input type="text" readonly class="form-control-plaintext"
                                                        id="staticWaiter" v-model="nuevaOrden.mesero">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="staticTable" class="col-3 col-form-label">#Mesa:</label>
                                                <div class="col-9">
                                                    <input type="text" readonly class="form-control-plaintext"
                                                        id="staticTable" v-model="nuevaOrden.mesa">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="staticObs" class="col-3 col-form-label">Nota:</label>
                                                <div class="col-9">
                                                    <textarea readonly class="form-control-plaintext" id="staticObs"
                                                        v-model="nuevaOrden.observacion" style="resize: none;
                                              "></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <button type="button" class="btn btn-light col-6"
                                                    data-dismiss="modal">Regresar</button>
                                                <button type="button" class="btn btn-primary col-6" data-dismiss="modal"
                                                    @click="saveOrden">Confirmar</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Fin modal Resumen-->

                </div>
                <!-- Termina el contenedor de la pagina y el dominio de VUE-->

            </div>

            <!-- Inicia el pie de pagina -->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Diseño I 2020</span></div>
                </div>
            </footer>
            <!-- Termina el pie de pagina -->

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>

    <!--Aqui va tu codigo de vue js-->
    <script src="./config.js"></script>
    <script src="nuevaorden.js"></script>


</body>

</html>