<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        .inp-cantidad {
            width: 3em;
            -webkit-appearance: none;
            margin: 0;
            border: none;
            text-align: center;
            -moz-appearance: textfield;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Inicia navbar lateral -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-glass-martini"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="ordenes.html"><i class="fas fa-list-ol"></i><span>ORDENES</span></a>
                        <a class="nav-link active" href="productos.html"><i class="fas fa-box"></i><span>PRODUCTOS</span></a>
                        <a class="nav-link active" href="categorias.html"><i class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                        <a class="nav-link active" href="informes.html"><i class="fas fa-file-alt"></i><span>INFORMES</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <!-- Termina navbar lateral -->

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">


                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">


                    <!-- TITULO -->
                    <div class="row my-4">
                        <h3 class="text-center col-12">Crear Nueva Orden</h3>
                    </div>


                    <!-- Inicia seccion de alertas -->
                    <div class="alert alert-success collapse" role="alert" id="buttonAlert">
                        <strong>Success!</strong> Acabas de mostrar una alerta.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Termina seccion de alertas -->

                    <!-- Formulario de nueva orden -->
                    <form class="row">
                        <!--col datos de orden-->
                        <div class="col-md-3 pr-0">
                            <div class="form-group row">
                                <div class="col-md-3 col-2 px-0 py-1">
                                    <label for="txtCliente">Cliente: </label>
                                </div>
                                <div class="col">
                                    <input v-model="nuevaOrden.cliente" type="text" class="form-control" id="txtCliente" placeholder="Enter name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-2 px-0 py-1">
                                    <label for="txtMesero">Mesero: </label>
                                </div>
                                <div class="col">
                                    <input v-model="nuevaOrden.mesero" type="text" class="form-control" id="txtMesero" placeholder="Enter name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-2 px-0 py-1">
                                    <label for="txtMesa">Mesa: </label>
                                </div>
                                <div class="col">
                                    <input v-model="nuevaOrden.mesa" type="text" class="form-control" id="txtMesa" placeholder="#">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <textarea v-model="nuevaOrden.observacion" type="text" class="form-control" id="txtObservacion" placeholder="Observacion" rows="3" style="resize: none;"></textarea>
                                </div>
                            </div>
                        </div>

                        <!--col tabla agregar productos-->
                        <div class="col-md-8">
                            <!-- Incia Tabla -->
                            <div class="form-group">
                                <div class="table-wrapper-scroll-y" style="height:15em ;overflow: auto;">


                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li v-for="categoria in categorias" class="nav-item">
                                            <a v-if="categorias.indexOf(categoria) === 0" class="nav-link active" data-toggle="tab" v-bind:id="categoria.nombre+'-tab'" v-bind:href="'#'+categoria.nombre" role="tab">
                                          {{categoria.nombre}}
                                        </a>
                                            <a v-else class="nav-link" v-bind:id="categoria.nombre+'-tab'" data-toggle="tab" v-bind:href="'#'+categoria.nombre" role="tab">
                                          {{categoria.nombre}}
                                      </a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="Entradas" role="tabpanel">
                                            <table class="table table-sm table-bordered table-striped mt-2 ">
                                                <thead class="text-center ">
                                                    <tr>
                                                        <th scope="col ">Nombre</th>
                                                        <th scope="col ">Precio</th>
                                                        <th scope="col ">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr v-if='detalleProducto.categoria.nombre == categorias[0].nombre ' v-for="detalleProducto in nuevaOrden.detalleOrden">
                                                        <td>
                                                            {{detalleProducto.nombre}}
                                                        </td>
                                                        <td>
                                                            ${{detalleProducto.precio}}
                                                        </td>
                                                        <td class="text-center px-0 ">

                                                            <button type="button" class="btn btn-secondary btn-sm p-1" @click="decProducto(detalleProducto)">-</button>
                                                            <input type="number" class="inp-cantidad input-sm" v-model.lazy.number="detalleProducto.cantidad" min="0" max="99" step="1" disabled>
                                                            <button type="button" class="btn btn-primary btn-sm p-1" @click="incProducto(detalleProducto)">+</button>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-for="categoria in categorias" class="tab-pane fade" v-bind:id="categoria.nombre" role="tabpanel">
                                            <table class="table table-sm table-bordered table-striped mt-2 ">
                                                <thead class="text-center ">
                                                    <tr>
                                                        <th scope="col ">Nombre</th>
                                                        <th scope="col ">Precio</th>
                                                        <th scope="col ">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr v-if='detalleProducto.categoria.nombre == categoria.nombre ' v-for="detalleProducto in nuevaOrden.detalleOrden">
                                                        <td>
                                                            {{detalleProducto.nombre}}
                                                        </td>
                                                        <td>
                                                            ${{detalleProducto.precio}}
                                                        </td>
                                                        <td class="text-center px-0 ">

                                                            <button type="button" class="btn btn-secondary btn-sm p-1" @click="decProducto(detalleProducto)">-</button>
                                                            <input type="number" class="inp-cantidad input-sm" v-model.lazy.number="detalleProducto.cantidad" min="0" max="99" step="1" disabled>
                                                            <button type="button" class="btn btn-primary btn-sm p-1" @click="incProducto(detalleProducto)">+</button>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- Termina Tabla -->
                        </div>

                    </form>
                    <!--fin formulario nueva orden-->

                    <!-- Botones de accion-->
                    <div class="form-group row mt-5">
                        <div class="col">
                            <button type="button" class="btn btn-secondary col">
                                <a class="text-white" href="ordenes.html" >Cancelar</a>
                            </button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary col">
                                <i class="fa fa-plus-circle mr-2"></i>
                                <a class="text-white" href="detallenuevaorden.html" >Verificar</a>
                            </button>
                        </div>
                    </div>
                    <!-- /Botones de accion-->





                </div>
                <!-- Termina el contenedor de la pagina y el dominio de VUE-->

            </div>

            <!-- Inicia el pie de pagina -->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Diseño I 2020</span></div>
                </div>
            </footer>
            <!-- Termina el pie de pagina -->

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <!--Aqui va tu codigo de vue js-->
    <script src="nuevaorden.js"></script>


</body>

</html>