<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Inicia navbar lateral -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-glass-martini"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="index.html"><i class="fas fa-list-ol"></i><span>ORDENES</span></a>
                        <a class="nav-link active" href="productos.html"><i class="fas fa-box"></i><span>PRODUCTOS</span></a>
                        <a class="nav-link active" href="categorias.html"><i class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                        <a class="nav-link active" href="informes.html"><i class="fas fa-file-alt"></i><span>INFORMES</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <!-- Termina navbar lateral -->

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- Inicia navbar top -->
                <!--<nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informes
            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Ventas Diarias</a>
                                <a class="dropdown-item" href="#">Ventas semanales</a>
                            </div>
                        </li>
                    </ul>
                </nav>-->
                <!-- Termina navbar top -->

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">


                    <!-- TITULO -->
                    <div class="row my-4">
                        <h1 class="text-center col-12">Sistema de Ordenes RESBAR v. 1.0</h1>
                    </div>

                    <div class="row my-5">
                        <!-- Filtro buscar -->
                        <div class="col-md-4 ">
                            <label class="col-form-label mx-3">Buscar:</label>
                            <input type="text" v-model="textoBusqueda">
                        </div>

                        <!-- Boton Agregar nueva orden  -->
                        <!--Se va al archivo nuevaorden.html -->

                        <div class="col-md-4 " style="display: flex; justify-content: center;">
                            <div>
                                <button class="btn btn-primary" type="button" title="Nueva orden"><i class="fa fa-plus-circle mr-2"></i>
                                    <a class="text-white " href="nuevaorden.html" >Agregar</a>
                                 </button>
                            </div>

                        </div>
                    </div>

                    <!-- Inicia seccion de alertas -->
                    <div class="alert alert-success collapse" role="alert" id="buttonAlert">
                        <strong>Success!</strong> Productos Agregados Correctamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Termina seccion de alertas -->

                    <!-- Toggle para mostrar activos -->
                    <label class="text-primary">Mostrar todas</label>
                    <label class="switch">
                        <input type="checkbox" >
                        <span class="slider round"  v-on:click = "mostrarActivos"></span>
                      </label>
                    <!-- -->
                    <!-- Incia Tabla -->
                    <!--Tabla para desktop-->
                    <div class="table-wrapper-scroll-y my-custom-scrollbar d-none d-lg-block">
                        <table v-if="activos" class="table table-sm table-bordered table-striped mb-0">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col"># Orden</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col" v-on:click="ordenar" v-if="ascendente">Mesa <i class="far fa-arrow-alt-circle-down"></i></th>
                                    <th scope="col" v-on:click="ordenar" v-else>Mesa <i class="far fa-arrow-alt-circle-up"></th>
                                    <th scope="col">Mesero</th>
                                    <th scope="col">Observaciones</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr v-if = "activos" v-for = "(orden, index) in ordenes" v-show="buscar(index)" v-on:click="ordenSelected=orden" v-bind:class="{ 'font-weight-bold' : ordenSelected==orden, 'text-dark': ordenSelected==orden }">
                                    <td>{{orden.id}}</td>
                                    <td>{{orden.cliente}}</td>
                                    <td>{{orden.mesa}}</td>
                                    <td>{{orden.mesero}}</td>
                                    <td>{{orden.observacion}}</td>
                                    <td>${{orden.total}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm"  title="Agregar mas productos">
                                                <a class="text-white" href="addmasproductos.html"></a><i class="fas fa-plus-circle"></i></a>
                                        </button>

                                        <button type="button" class="btn btn-primary btn-sm" title="Modificar Orden" @click="ordenSelected=orden; modificarOrden();">
                                                <i class="fas fa-edit"></i></a>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm" title="Cobrar Orden" @click="ordenSelected=orden; cobrarOrden();">
                                                <i class="fas fa-money-bill"></i></a>
                                        </button>
                                        </td>
                                </tr>

                                <tr v-else v-for="(orden, index) in lactivos" v-on:click="ordenSelected=orden" v-bind:class="{ 'font-weight-bold' : ordenSelected==orden, 'text-dark': ordenSelected==orden }">
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal">
                                            <i class="fas fa-plus-circle "></i>
                                        </button>
                                        <button type="button " class="btn btn-success btn-sm " data-toggle="modal " data-target="#cobrarOrden ">
                                            <i class="fas fa-money-bill "></i>
                                        </button>
                                    </td>
                                </tr>


                                </tbody>
                        </table>

                        <table v-else class="table table-sm table-bordered table-striped mb-0 ">
                            <thead class="bg-primary text-white ">
                                <tr>
                                    <th scope="col "># Orden</th>
                                    <th scope="col ">Cliente</th>
                                    <th scope="col " v-on:click="ordenar " v-if="ascendente ">Mesa <i class="far fa-arrow-alt-circle-down "></i></th>
                                    <th scope="col " v-on:click="ordenar " v-else>Mesa <i class="far fa-arrow-alt-circle-up "></th>
                                    <th scope="col ">Mesero</th>
                                    <th scope="col ">Observaciones</th>
                                    <th scope="col ">Total</th>
                                    <th scope="col ">Acciones</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr v-for = "(orden, index) in lactivos " v-show="buscar(index) " v-on:click="ordenSelected=orden " v-bind:class="{ 'font-weight-bold' : ordenSelected==orden, 'text-dark': ordenSelected==orden } ">
                                    <td>{{orden.id}}</td>
                                    <td>{{orden.cliente}}</td>
                                    <td>{{orden.mesa}}</td>
                                    <td>{{orden.mesero}}</td>
                                    <td>{{orden.observacion}}</td>
                                    <td>${{orden.total}}</td>
                                    <td>
                                            <button type="button" class="btn btn-primary btn-sm"  title="Agregar mas productos">
                                                    <a class="text-white" href="addmasproductos.html"><i class="fas fa-plus-circle"></i></a>
                                        </button>

                                        <button type="button" class="btn btn-primary btn-sm" title="Modificar Orden" @click="ordenSelected=orden; modificarOrden();">
                                                <i class="fas fa-edit"></i></a>
                                            </button>
                                        <button type="button" class="btn btn-primary btn-sm" title="Cobrar Orden" @click="ordenSelected=orden; cobrarOrden();">
                                                    <i class="fas fa-money-bill"></i></a>
                                            </button>
                                        </td>
                                </tr>


                                </tbody>
                        </table>
                    </div>

                    <!--Tabla para smartphone y tablet-->
                    <div class="table-wrapper-scroll-y my-custom-scrollbar d-sm-block d-lg-none">
                        <table v-if="activos" class="table table-sm table-bordered table-striped mb-0">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col"># Orden</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col" v-on:click="ordenar" v-if="ascendente">Mesa <i class="far fa-arrow-alt-circle-down"></i></th>
                                    <th scope="col" v-on:click="ordenar" v-else>Mesa <i class="far fa-arrow-alt-circle-up"></th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr v-if = "activos" v-for = "(orden, index) in ordenes" v-show="buscar(index)" v-on:click="ordenSelected=orden" v-bind:class="{ 'font-weight-bold' : ordenSelected==orden, 'text-dark': ordenSelected==orden }">
                                    <td>{{orden.id}}</td>
                                    <td>{{orden.cliente}}</td>
                                    <td>{{orden.mesa}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle" style="color: rgb(233, 235, 240);" data-toggle="modal" title="Agregar mas productos"></i></button>
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-edit" style="color: rgb(249, 250, 252);" title="Modificar Orden" @click="ordenSelected=orden; modificarOrden();"></i></button>
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-money-bill" style="color: rgb(254, 254, 255);" data-toggle="modal" title="Cobrar Orden" data-target="#cobrarOrden"></i></button>
                                        </td>
                                </tr>

                                <tr v-else v-for="(orden, index) in lactivos" v-on:click="ordenSelected=orden" v-bind:class="{ 'font-weight-bold' : ordenSelected==orden, 'text-dark': ordenSelected==orden }">
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal">
                                            <i class="fas fa-plus-circle "></i>
                                        </button>
                                        <button type="button " class="btn btn-success btn-sm " data-toggle="modal " data-target="#cobrarOrden ">
                                            <i class="fas fa-money-bill "></i>
                                        </button>
                                    </td>
                                </tr>


                                </tbody>
                        </table>

                        <table v-else class="table table-sm table-bordered table-striped mb-0 ">
                            <thead class="bg-primary text-white ">
                                <tr>
                                    <th scope="col "># Orden</th>
                                    <th scope="col ">Cliente</th>
                                    <th scope="col " v-on:click="ordenar " v-if="ascendente ">Mesa <i class="far fa-arrow-alt-circle-down "></i></th>
                                    <th scope="col " v-on:click="ordenar " v-else>Mesa <i class="far fa-arrow-alt-circle-up "></th>
                                    <th scope="col ">Acciones</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr v-for = "(orden, index) in lactivos " v-show="buscar(index) " v-on:click="ordenSelected=orden " v-bind:class="{ 'font-weight-bold' : ordenSelected==orden, 'text-dark': ordenSelected==orden } ">
                                    <td>{{orden.id}}</td>
                                    <td>{{orden.cliente}}</td>
                                    <td>{{orden.mesa}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle" style="color: rgb(233, 235, 240);" data-toggle="modal" title="Agregar mas productos"></i></button>
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-edit" style="color: rgb(249, 250, 252);" title="Modificar Orden" @click="ordenSelected=orden; modificarOrden();"></i></button>
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-money-bill" style="color: rgb(254, 254, 255);" data-toggle="modal" title="Cobrar Orden" data-target="#cobrarOrden"></i></button>
                                        </td>
                                </tr>


                                </tbody>
                        </table>


                    </div>
                    <!-- Termina Tabla -->
                </div>

                <!-- Termina el contenedor de la pagina y el dominio de VUE-->

            </div>

            <!-- AGREGAR PRODUCTOS-->
            <div class="container">
                <!-- Inicio: Modal Agregar Productos  -->
                <div class="modal fade" id="mdlAgregarAlaOrden" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <!-- Inicio: Cabecera Modal-->
                            <div class="modal-header">
                                <div class="sidebar-brand-text mx-3"><span>AGREGAR PRODUCTOS</span></div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <!-- Fin: Cabecera Modal-->

                            <div class="modal-body">
                                <div class="container mb-2">
                                    <div class="sidebar-brand-text mx-3"><span>CATEGORIAS</span></div>
                                    <div class="row m-3">

                                        <!-- Inicio: Barra Navegacion -->
                                        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                                            <div class="container">
                                                <div class="col-md-3">
                                                    <input class="form-control my-2" type="text" placeholder="Buscar">
                                                </div>
                                                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                                <div class="collapse navbar-collapse" id="navcol-1">
                                                    <ul class="nav navbar-nav">
                                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Entradas</a></li>
                                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Platos</a></li>
                                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Bebidas</a></li>
                                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Postres</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </nav>
                                        <!-- Fin: Barra Navegacion -->

                                    </div>
                                </div>

                                <!-- Inicio: Tabla-->
                                <div style="display: flex; justify-content: center;">
                                    <table v-else class="table table-sm table-bordered table-striped mb-0">
                                        <thead class="bg-primary text-white">
                                            <tr>
                                                <th scope="col">id Producto</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Precio unitario</th>
                                                <th scope="col">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="orden in lactivos">
                                                <td>000001</td>
                                                <td>Papas Fritas</td>
                                                <td>$ 2.00</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary">-</button>
                                                    <span>2</span>
                                                    <button type="button" class="btn btn-primary">+</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Fin: Tabla-->
                            </div>
                            <!-- Inicio: Botones Modal-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="$('#modalResumen').modal('show')">Agregar</button>
                            </div>
                            <!-- Fin: Botones Modal-->
                        </div>
                    </div>
                </div>
                <!-- Fin: Modal Agregar Productos-->

                <!-- Inicio: Modal Resumen -->
                <div class="modal fade" id="modalResumen" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <div class="sidebar-brand-text mx-3"><span>RESUMEN DE PRODUCTOS</span></div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>

                            <div class="modal-body">
                                <table v-else class="table table-sm table-bordered table-striped mb-0">
                                    <thead class="bg-primary text-white">
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Precio Unitario</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="orden in lactivos">
                                            <td>Papas Fritas</td>
                                            <td>$ 2.00</td>
                                            <td>2</td>
                                            <td>$ 4.00</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="row justify-content-lg-end my-4 ml-2 mr-3">
                                    <label for="total">Total:</label>
                                    <input class="ml-1 justify-content-center" type="text" disabled id="total">
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="alerta()">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin: Modal Resumen -->

            </div>
            <!-- FIN AGREGAR PRODUSCTOS-->

            <!-- Inicia el pie de pagina -->
            <footer class="bg-white sticky-footer ">
                <div class="container my-auto ">
                    <div class="text-center my-auto copyright "><span>Copyright © Diseño I 2020</span></div>
                </div>
            </footer>
            <!-- Termina el pie de pagina -->

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <!--se ha cargado vue-router para la lectura del parametro, si usas javascript puro en su lugar, quita esta libreria-->
    <script src="assets/js/vue-router.js"></script>
    <script src="assets/js/theme.js "></script>
    <script src="assets/js/Script.js "></script>
    <!--Aqui va tu codigo de vue js-->
    <script src="ordenes.js"></script>


</body>

</html>