<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Inicia navbar lateral -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-glass-martini"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="ordenes.html"><i class="fas fa-list-ol"></i><span>ORDENES</span></a>
                        <a class="nav-link active" href="productos.html"><i class="fas fa-box"></i><span>PRODUCTOS</span></a>
                        <a class="nav-link active" href="categorias.html"><i class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                        <a class="nav-link active" href="informes.html"><i class="fas fa-file-alt"></i><span>INFORMES</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <!-- Termina navbar lateral -->

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- Inicia navbar top -->
                <!--<nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informes
            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Ventas Diarias</a>
                                <a class="dropdown-item" href="#">Ventas semanales</a>
                            </div>
                        </li>
                    </ul>
                </nav>-->
                <!-- Termina navbar top -->

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">


                    <!-- TITULO -->
                    <div class="row my-4">
                        <h3 class="text-center col-8">Administrar Productos RESBAR v. 1.0</h3>
                    </div>

                    <div class="row my-5">
                        <!-- Filtro buscar -->
                        <div class="col-md-4 ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text buscar"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" placeholder="Buscar" v-model="txtBuscar">
                            </div>
                        </div>

                        <!-- Boton Agregar nuevo -->
                        <div class="col-md-4 " style="display: flex; justify-content: center;">
                            <button class="btn agg text-white" type="button" data-toggle="modal" data-target="#frmagregar" v-on:click="obtenerCategorias"><i class="fa fa-plus-circle mr-2 text-white" ></i>Agregar</button>
                        </div>
                    </div>

                    <!-- Inicia seccion de alertas -->
                    <div class="alert alert-success collapse" role="alert" id="buttonAlert">
                        <strong>Exito!</strong> Producto Eliminado correctamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Termina seccion de alertas -->

                    <!-- Incia Tabla -->
                    <div>
                        <table class="table table-sm table-bordered table-responsive-sm table-hover table-striped mb-0">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col" style="text-align: center;">Id Producto</th>
                                    <th style="text-align: center;" scope="col">Nombre</th>
                                    <th style="text-align: center;" scope="col">Precio</th>
                                    <th style="text-align: center;" scope="col">Categoria</th>
                                    <th style="text-align: center;" scope="col">Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(producto, index) in productos " v-show="buscar(index)"  v-on:click="productoSelected=producto" v-bind:class="{ 'font-weight-bold' : productoSelected==producto, 'text-dark': productoSelected==producto }">
                                    <td style="text-align: center;">{{producto.id.substring(producto.id.length - 4, producto.id.length)}}</td>
                                    <td style="text-align: center;">{{producto.nombre}}</td>
                                    <td style="text-align: center;">$ {{producto.precio}}</td>
                                    <td style="text-align: center;">{{producto.categoria.nombre}}</td>
                                    <td> 
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" title="Modificar Orden" data-target="#frmmodificar" @click="productoSelected=producto; modalmodificarProducto()">
                                            <i class="fa fa-edit mr-2"></i>
                                        </button>

                                        <button class="btn btn-danger btn-sm" id="btnborrar" data-toggle="modal" data-target="#frmeliminar" title="Eliminar Orden" ><i
                                            class="fa fa-trash-alt mr-2"></i>
                                        </button>

                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <!-- Termina Tabla -->

                    

                   

                    
                    


                    <!--Solo para depuracion y desarrollo mostramos el vue.Data
                    Despues borramos esto
                    <br>
                    <h5>Solo para mostrar vue.Data mientras se desarrolla</h5>
                    <pre>{{ $data }}</pre>-->


              
            <!-- AGREGAR PRODUCTOS-->
<div class="modal fade" id="frmagregar" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

<div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">

        <div class="modal-header bg-primary">
            <h5 class="modal-title text-white" id="exampleModalLongTitle">Agregar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            
            <!-- formulario-->
            <form>

            <div class="form-group">
                <label for="nombre">Nombre del producto:</label>
                <input v-model="producto.nombre" type="text" class="form-control"
                id="idproducto" placeholder="Nombre x">
            </div>

            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select v-model="producto.categoria"  class="form-control" id="inputcategoria">
                    <option v-for="(categoria, index) in categorias " v-bind:value="categoria">{{categoria.nombre}}</option>
              
                </select>   

               


            </div>

            <div class="form-group">
                <label for="precio"> Ingrese el precio:</label>
                <input v-model="producto.precio" type="number" min="0" pattern="[[0-9]{1,10}[.][0-9]{1,10}" class="form-control"
                id="precioholder" placeholder="$0.00">
            </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
            @click="clearData">Cancelar</button>
            <button type="button" class="btn btn-primary" v-on:click="crearProducto" data-dismiss="modal"
            >Guardar</button>
        </div>
    </div>
</div>
</div>


<!--fin de agregar-->

       

                   <!-- Modal modificar orden -->

 <div class="modal fade" id="frmmodificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        
    <div class="modal-dialog modal-lg" role="document">
       
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modificar Orden</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <!-- <form class="form-inline"> -->
                    <form>

                        <div class="form-group row my-0">
                            <label for="lblnombre" class="col-sm-2 col-lg-1.2 col-form-label">Nombre:     </label>
                            
                            <div class="col-sm-3 mr-md-5 col-lg-3">
                                <input type="text"  class="form-control form-control-sm" id="lblnombre" v-model="productomodificado.nombre">
                            </div>
                            <label class=" col-sm col-lg ml-md-5 d-none d-lg-block ">id: {{productomodificado.id.substring(productomodificado.id.length - 4, productomodificado.id.length)}} </label>
                        </div>

                        <div class="form-group row my-0 ">
                            
                            <div class="col-md-2 col-sm-2 col-lg-1.2 ">
                                <label for="lblprecio " class="col-form-label ">Precio: </label>
                            </div>

                            <div class="col-md-6 col-sm-4 col-lg-3 ">
                                <input type="number" min="0" pattern="[[0-9]{1,10}[.][0-9]{1,10}" class="form-control form-control-sm " id="iptprecio " v-model="productomodificado.precio ">
                            </div>

                            <div class="col-md-4 col-sm-6 col-lg-6 ">
                            </div>
                        </div>

                        <div class="form-group row ">

                            <div class="col-md-2 col-md-2 col-lg-1.2 ">
                                <label for="lblcategoria " class="col-form-label ">Categoria: </label>
                            </div>

                            <div class="col-md-9 col-sm-4 col-lg-3 ">
                                <select v-model="productomodificado.categoria"  class="form-control" id="inputacategoria">
                                    <option v-for="(categoria, index) in categorias " v-bind:value="categoria">{{categoria.nombre}}</option>
                              
                                </select>   
                            </div>

                            <div class="col-md-1 col-sm-1 col-lg-2 ">
                            </div>
                        </div>

                    </form>
                    <!-- termina formulario-->
                </div>
            </div>

            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                v-on:click="clearData" >Cancelar</button>
                <button type="button" class="btn btn-primary" v-on:click="modificarProducto"
                data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Termina modal modificar orden -->

 <!-- modal de confirmacion eliminar orden -->
 <div class="modal fade " id="frmeliminar" tabindex="-1 " role="dialog " aria-labelledby="tituloEliminar " aria-hidden="true ">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="tituloEliminar ">Eliminar Producto # {{productoSelected.id.substring(productoSelected.id.length - 4, productoSelected.id.length)}}</h5>
                <button type="button " class="close " data-dismiss="modal" aria-label="Close ">
                 <span aria-hidden="true ">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                ¿Desea eliminar el producto: {{productoSelected.nombre}} ?
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " data-dismiss="modal">Cancelar</button>
                <button type="button " class="btn btn-danger " data-dismiss="modal" v-on:click="eliminarProducto" onClick="alerta()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal eliminar  -->


                </div>
                <!-- Termina el contenedor de la pagina y el dominio de VUE-->

            </div>



           
            

            <!-- Inicia el pie de pagina -->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Diseño I 2020</span></div>
                </div>
            </footer>
            <!-- Termina el pie de pagina -->

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <!--Aqui va tu codigo de vue js-->
    <script src="productos.js"></script>


</body>



</html>