.contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
    width: 33%;
}

.espacio-margen {
    background: #e8e8e8;
    margin: 10px;
    padding: 10px;
}

.rounded {
    border-radius: 0.7rem !important;
}

.text-centro {
    width: 100%;
    text-align: center;
}

.text-bold {
    font-size: xx-large;
    font-weight: 900;
    color: #272727;
}

.iconos {
    width: 100%;
    font-size: 25px;
    color: #585858;
}

.subtitulo {
    width: 100%;
    color: #a5a5a5;
    text-align: center;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.divFull {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.empName {
    color: #fff;
    justify-content: center;
    font-size: 1.5rem;
    border-bottom: 2px solid;
    margin-bottom: 0;
}

.leyendas {
    color: #272727;
    font-weight: 800;
    margin-left: 12px;
    font-size: x-large;
}


/* Esto es de la parte de día, semana, mes del char */

.tabs-inf {
    margin: 10px;
    font-size: 15px;
    padding: 0px;
    list-style: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 50px;
    position: relative;
}

.tabs-inf .a-inf {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
}

.tabs-inf .a-inf.active {
    color: #fff;
}

.tabs-inf .a-inf i {
    margin-right: 5px;
}

.tabs-inf .selector-inf {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 50px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
}


/* Fin de estilos del char */

.tresPuntos {
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 4%;
    vertical-align: 50%;
}

.chartCss {
    width: 100%;
    text-align: left;
    display: inline-block;
}

.bestEmployees {
    width: 39%;
    text-align: left;
    display: inline-block;
}

.mobilScreen {
    display: flex;
    justify-content: space-between;
}

.chartEmp {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

@media (min-width: 994px) and (max-width: 1069px) {
    .empName {
        font-size: 12px;
    }
    .reziseText {
        font-size: 12px;
    }
    label {
        margin-bottom: 0px;
    }
    .tresPuntos {
        vertical-align: 10%;
    }
}

@media (max-width: 993px) {
    .div-encapsula-dates {
        display: grid!important;
        justify-content: center!important;
    }
    .btn-hover {
        padding: 10px!important;
    }
    .espacio-divs {
        padding: 10px;
    }
    .navbar-transparent {
        display: flex !important;
    }
    .sidebar {
        display: none;
    }
    .mobilScreen {
        display: grid;
        justify-content: initial;
    }
    .contenedor-trabajos {
        width: 100%;
    }
    .chartCss {
        width: 95%;
    }
    .bestEmployees {
        width: 100%;
    }
    .chartEmp {
        padding-left: 1.2rem;
    }
    .container-fluid {
        padding-left: 0px;
    }
    .tabs-inf .a-inf {
        margin: 0px;
        padding: 0px;
    }
    .tabs-inf {
        margin: 0px;
        margin-bottom: 10px;
        width: 100%;
        flex-flow: row wrap;
        display: flex;
        justify-content: space-around;
        height: 40px;
        align-content: center;
    }
    .fillBlank {
        width: 100;
    }
}


/* lo del top nav bar  */

.topNavLink {
    display: block;
    padding: .5rem 1rem;
    color: #585858;
    margin-left: 20px;
}

.navbar-transparent {
    display: none;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}


/* date picker */

.div-date {
    display: inline-block;
    width: fit-content;
    padding: 2px;
    border-radius: 50px;
    height: fit-content;
    background-image: linear-gradient(to right, rgb(37, 170, 225), rgb(68, 129, 235), rgb(4, 190, 254), rgb(63, 134, 237));
}

.date-css {
    user-select: none;
    border-radius: 50px;
    text-align: center;
    border: 0px;
    font-family: inherit;
    justify-content: center;
    color: #443434;
    background: #f8f9fc;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    box-shadow: 5px 5px 25px -2px rgba(31, 115, 255, 0.46);
    padding-left: 10px;
}


/* boton del date picker */

.btn-hover {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    padding: 0px 20px 0px 20px;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.div-encapsula-dates {
    margin-bottom: 10px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}


/* table responsive modal  */

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
    background-color: #4e73df;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 40%;
}

.responsive-table .col-3 {
    flex-basis: 25%;
}

.responsive-table .col-4 {
    flex-basis: 25%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: table-header-group;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}


/* fin de table responsive modal */


/* Recuadro para seleccionar fecha, el que está al lado izquiero del chart */

.datePick {
    display: inline-block;
    background: #828282;
    transform: skew(-10deg);
    padding-left: 10px;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    cursor: pointer;
}

.selectedDate {
    background-color: #224abed6;
}

.styleInput {
    margin: 0px;
    cursor: pointer;
    width: 50px;
    color: white;
    background: #82828200;
    border: none;
    padding: 0;
    outline: none;
    border-radius: 0;
}


/* Fin del Recuadro para seleccionar fecha, el que está al lado izquiero del chart */


/* Inician los estilos para la fecha de años */

.yearpicker-container {
    position: absolute;
    color: var(--text-color);
    width: 280px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.yearpicker-header {
    display: flex;
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    justify-content: space-around;
}

.yearpicker-prev,
.yearpicker-next {
    cursor: pointer;
    font-size: 2rem;
}

.yearpicker-prev:hover,
.yearpicker-next:hover {
    color: var(--selected-text-color);
}

.yearpicker-year {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}

.yearpicker-items {
    list-style: none;
    padding: 1rem 0.5rem;
    flex: 0 0 33.3%;
    width: 100%;
}

.yearpicker-items:hover {
    background-color: #bedeff;
    color: #000000;
    cursor: pointer;
}

.yearpicker-items.selected {
    color: #000000;
    background-color: #bedeff;
}

.hide {
    display: none;
}

.yearpicker-items.disabled {
    pointer-events: none;
    color: #bbb;
}


/* Terminan los estilos para la fecha de años */


/* Comienza estilos para mes del datepicker abajo del bar */

.fecha-container {
    position: absolute;
    color: var(--text-color);
    width: 280px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.fecha-header {
    display: flex;
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    justify-content: space-around;
}

.ul-year {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.ul-items {
    list-style: none;
    padding: 1rem 0.5rem;
    flex: 0 0 33.3%;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.ul-items:hover {
    background-color: #bedeff;
    color: #000000;
    cursor: pointer;
}

.ul-items.selected {
    color: #000000;
    background-color: #bedeff;
}

.ul-items.disabled {
    pointer-events: none;
    color: #bbb;
}


/* termina estilos para mes del datepicker abajo del bar */


/* comienza el estilo popover para las semanas 1 al 4 */

.ul-day {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: start;
}

.ul-day-items {
    list-style: none;
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
    text-align: start;
}

.ul-day-end {
    margin-right: 1rem;
    list-style: none;
    width: 25%;
    align-self: center;
    font-weight: 800;
    background-color: #4466c8;
    color: #fff;
    border-radius: 40px;
}

.div-ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
}

.div-ul:hover {
    background-color: #0073e954;
    border-radius: 20px;
    color: #0041ff;
    cursor: pointer;
}

.div-ul.selected {
    color: #0041ff;
    border-radius: 20px;
    background-color: #0073e954;
}


/* fin  del estilo popover para las semanas 1 al 4 */


/* Comienza estilo para popover de los dias */

.items-semana {
    list-style: none;
    padding: 1rem 0.5rem;
    flex: 0 0 33.3%;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.listItems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}