/* Inicia estilo del div contenedor de la tabla */

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}


/* Termina estilo del div contenedor de la tabla */


/* Inicia estilo del toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Termina estilo del toggle */


.agg{
    padding: 14px;
    border-radius: 15px;
    color: #fff;
    border-color: white;
    background-size: 300% 100%;
    background-image: linear-gradient(45deg, #3d69e4 0%, #428BCA 100%);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.agg:hover{
    background-position: 100% 0;
    background-image: linear-gradient(45deg, #903cda 0%, #05abe0 100%);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.total{
    background:linear-gradient(45deg, #3d69e4 50%, #428BCA 100%);
    border-radius: 8px;
}
.mTotal{
    background:#787D23;
    /*background:linear-gradient(45deg, #787D23 30%, #C0C92E 100%);*/
    border-radius: 8px;
}
.ag{
    padding: 14px;
    border-radius: 15px;
    color: #fff;
    border-color: white;
    background-size: 300% 100%;
    background-image: linear-gradient(45deg, #3d69e4 0%, #428BCA 100%);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 8px #2196f3;
}
.ag:hover{
    background-position: 100% 0;
    background-image: linear-gradient(45deg, #903cda 0%, #05abe0 100%);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
input{
    border: 3px solid #05abe0;
    border-radius: 0 50px 50px 0;
    padding: 0 10px;
    outline: none;
}
.buscar{
    border: 3px solid #05abe0;
    border-radius: 50px 0 0 50px;
    background:linear-gradient(45deg, #1d0da8 0%, #05abe0 100%);
    color:white;
}
.alerta{
    background:linear-gradient(45deg, #42B327 60%, #54FF2B 100%);
    color:white;
    border-radius: 50px;
}
th{
    background:linear-gradient(45deg, #285ce9 50%, #428BCA 100%);
    color:white;
}
.btntable{
    
    color: #fff;
    border-color: white;
    background-size: 300% 100%;
    background-image: linear-gradient(45deg, #3d69e4 0%, #428BCA 100%);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}
.btntable:hover{
    background-position: 100% 0;
    background-image: linear-gradient(45deg, #903cda 0%, #05abe0 100%);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
tr{
    color: #000000;
    background-color: #fff;
}
tr:hover{
    background-color: #9ebffde0;
    color: #000000;
}
tr:nth-child(even) {
    background-color: #9ebffd5e;
    color: #000000;
}